body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#webgl-canvas {
    display: flex;
    justify-content: center;
    align-items: center;
}

canvas {
    border: 1px solid black; /* Optional: Add border for better visibility */
}
